{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div class="row">
		{% set cat = null %}
		
		{% for j in job %}
			{% if cat != job.category %}
			{% cat = job.category %}
			{% set maVar = category[] %}
			{% endif %}
			<h2 class="text-center">{{ job.category }}</h2>
			
			<div class="d-flex justify-content-center w-100">
				<div class="card mb-3">
					<div class="row no-gutters">
						<div class="col-md-4">
							<img src="{{ j.logo }}" class="card-img" alt="{{ j.logo }}">
						</div>
						<div class="col-md-8">
							<div class="card-body">
								<p class="card-text">{{ j.entreprise }}</p>
								<h5 class="card-title">{{ j.contrat }}</h5>

								<p class="card-text">{{ j.lieu }}
									-
									{{ j.pays }}
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
				
		{% endfor %}
	</div>
{% endblock %}
